[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NMAoutlier"]
	path = NMAoutlier
	url = https://github.com/petropouloumaria/nmaoutlier
